<a href="https://colab.research.google.com/github/anairforcedreamer/google-login/blob/master/AI_ML_day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print('welcome to session')
"hello"

welcome to session

'hello'

In [6]:
print("welcome", "to","the", "session",sep="-")

welcome-to-the-session

In [8]:
age=40
type(age)

int

In [12]:
tot_revenue=35000
name="Rose and Lillies"
print(name,tot_revenue,sep="-")

Rose and Lillies-35000

In [13]:
print(f"my business name is(name)and my revenue is 35000")

my business name is(name)and my revenue is 35000

In [16]:
print("my business{} has revenue of {} rupees". format(name,tot_revenue))

my businessRose and Lillies has revenue of 35000 rupees

In [21]:
message ="its good to see u all. please come tomorrow. it will be good."
len(message)
message[0]
message[-1]

'.'

In [22]:
message[0:15]

'its good to see'

In [26]:
message2="see u tomorrow"
new_msg=message+message2
new_msg
print(len(message))

61

In [30]:
print(message.split(","))
print(message.find("tomorrow"))
print(message.replace("tomorrow","next day"))
print(message.upper())

['its good to see u all. please come tomorrow. it will be good.']
35
its good to see u all. please come next day. it will be good.
ITS GOOD TO SEE U ALL. PLEASE COME TOMORROW. IT WILL BE GOOD.

In [34]:
fruits = ["apple", "banana", "cherry"]
print(fruits)
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']

In [35]:
movies = {
    "Movie1": {"rating": 4.5},
    "Movie2": {"rating": 3.8}
}

def add_rating(movie_name, rating):
    if movie_name in movies:
        movies[movie_name]["rating"] = rating
    else:
        movies[movie_name] = {"rating": rating}

add_rating("Movie3", 4.2)
print(movies)

{'Movie1': {'rating': 4.5}, 'Movie2': {'rating': 3.8}, 'Movie3': {'rating': 4.2}}

In [58]:
movies = [
    {"title": "Inception", "year": 2010, "ratings": [8, 9, 10, 9]},
    {"title": "Titanic", "year": 1997, "ratings": [9, 8, 9, 10]},
    {"title": "The Matrix", "year": 1999, "ratings": [10, 9, 10, 10]},
    {"title": "Interstellar", "year": 2014, "ratings": [9, 8, 10, 9]}
]

movies.append({"title": "Marcus", "year": 2000, "ratings": [8, 9, 6, 7]})

print(movies)

[{'title': 'Inception', 'year': 2010, 'ratings': [8, 9, 10, 9]}, {'title': 'Titanic', 'year': 1997, 'ratings': [9, 8, 9, 10]}, {'title': 'The Matrix', 'year': 1999, 'ratings': [10, 9, 10, 10]}, {'title': 'Interstellar', 'year': 2014, 'ratings': [9, 8, 10, 9]}, {'title': 'Marcus', 'year': 2000, 'ratings': [8, 9, 6, 7]}]

In [59]:
for movie in movies:
    average_rating = sum(movie["ratings"]) / len(movie["ratings"])
    print(f"Title: {movie['title']}, Average Rating: {average_rating:.2f}")

Title: Inception, Average Rating: 9.00
Title: Titanic, Average Rating: 9.00
Title: The Matrix, Average Rating: 9.75
Title: Interstellar, Average Rating: 9.00
Title: Marcus, Average Rating: 7.50

In [61]:
inception = {
    "title": "Inception",
    "year": 2010,
    "ratings": []
}
inception["ratings"].append(9)
inception["ratings"].append(8)
inception["ratings"].append(10)

print(f"Title: {inception['title']}")
print(f"Year: {inception['year']}")
print(f"Ratings: {inception['ratings']}")

Title: Inception
Year: 2010
Ratings: [9, 8, 10]

In [62]:
average_rating = sum(inception["ratings"]) / len(inception["ratings"])
print(f"Average Rating: {average_rating:.2f}")

Average Rating: 9.00

In [63]:
movie["title"] = "New Inception"
movie["year"]="2012"
print(movie)

{'title': 'New Inception', 'year': '2012', 'ratings': [8, 9, 6, 7]}

In [65]:
movies = [
    {"title": "Inception", "rating": 9.0},
    {"title": "The Matrix", "rating": 9.5},
    {"title": "Interstellar", "rating": 8.5}
]

highest_rating = 0
highest_rated_movie = ""

for movie in movies:
    if movie["rating"] > highest_rating:
        highest_rating = movie["rating"]
        highest_rated_movie = movie["title"]

print(f"Highest Rated Movie: {highest_rated_movie}")
print(f"Rating: {highest_rating}")

Highest Rated Movie: The Matrix
Rating: 9.5

In [66]:
movies = [movie for movie in movies if movie["title"] != "The Matrix"]

print(movies)

[{'title': 'Inception', 'rating': 9.0}, {'title': 'Interstellar', 'rating': 8.5}]

In [68]:
movies = [
    {"title": "Inception", "ratings": [9, 8, 9]},
    {"title": "The Matrix", "ratings": [10, 9, 10]},
    {"title": "Interstellar", "ratings": [8, 7, 9]},
    {"title": "Titanic", "ratings": [9, 9, 10]}
]
highly_rated_movies = [
    movie["title"]
    for movie in movies
    if sum(movie["ratings"]) / len(movie["ratings"]) >= 9
]

print(highly_rated_movies)

['The Matrix', 'Titanic']